@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-light-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-regular-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-semibold-italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSansKR";
  src: url("../fonts//IBMPlexSansKR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+AC00-U+D7A3;
}
@font-face {
  font-family: "IBMPlexSansKR";
  src: url("../fonts//IBMPlexSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-U+D7A3;
}
@font-face {
  font-family: "IBMPlexSansKR";
  src: url("../fonts//IBMPlexSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+AC00-U+D7A3;
}
