// Colors
$foret-green: #2e8b57 !default;
$foret-green-darken-1: #2a7f50 !default; // darken - 8%
$foret-green-darken-2: #267449 !default; // darken - 16%
$foret-green-lighten: #a7e1c1 !default; // lighten - 64%
$soil: #503715 !default;
$soil-darken-1: #493213 !default; // darken - 8%
$soil-darken-2: #432e11 !default; // darken - 16%
$soil-lighten: #e0bb8a !default; // lighten - 64%
$ink: #262626 !default;
$paper: #f5f5f0 !default;
$stone: #8c8c8c !default;
$fog: #c6c6c6 !default;
$black: #000000 !default;
$white: #ffffff !default;
$danger: #de2e21 !default;
$warning: #ffa126 !default;
$success: #43c463 !default;
$information: #0875e1 !default;

/* Font family */
$foret-font: "Overpass", sans-serif !default;

// Font weights
$light: 300 !default;
$regular: 400 !default;
$semiBold: 600 !default;
